<section id="comments">
  <header><h2 class="no-border">Comments</h2></header>
  <ul class="comments" style="overflow: auto; height: 300px;">
    <% @post.comments.each do |comment| %>
    <li class="comment">
      <figure>
        <%= image_tag User.where(id: comment.user_id).first.avatar.url(:thumb)%>
      </figure>
      <div class="comment-wrapper">
        <div class="name pull-left"><%=User.where(id: comment.user_id).first.first_name%></div>
        <span class="date"><span class="fa fa-calendar"></span><%=comment.created_at.strftime("%b %d, %Y") + " at " + comment.created_at.strftime("%H:%M")%></span>
        <p style="width: 100%;">
          <%= comment.body %>
        </p>
        <hr>
      </div>
    </li>
    <%end%>
  </ul>
</section><!-- /#comments -->
