<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Robinson</h1>
    <h3>
    You have reived a contact inquiry, below are the details from the user.
  </h3>
  <p>
    <%=@user.name%> with the email <%=@user.email%> has contacted you:
  </p>
  <br>
  <p>
    <%=@user.message%>
  </p>
  </body>
</html>
