<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Robinson</h1>
    <h3>
    A new space has been added, below are the details.
  </h3>
  <p>
    Space: <%=@space.name%>
  </p>
  <h3>
    Verify the details and approve ASAP!
  </h3>
  </body>
</html>
