<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Robinson</h1>
    <h3>
    You have a new subscriber, below are the details from the user.
  </h3>
  <h3>
    <%=@user.email%> has signed up!
  </h3>
  </body>
</html>
