<div id="page-content">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="<%=space_path(@space)%>"><%=@space.name%></a></li>
      <li class="active">Edit</li>
    </ol>
    <!--end breadcrumb-->
    <section class="page-title center">
      <h1>Edit the Space</h1>
    </section>

<%= render 'form' %>
