    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Spaces</li>
            </ol>
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <section class="page-title">
                        <h1>Find Your Space</h1>
                    </section>
                    <!--end section-title-->

                    <section>
                        <div class="search-results-controls clearfix">
                            <div class="pull-left">
                                <a href="" class="circle-icon active"><i class="fa fa-th"></i></a>
                                <a href="/_index2.html.erb" class="circle-icon"><i class="fa fa-bars"></i></a>
                            </div>
                            <!--end left-->
                            <div class="pull-right">
                                <div class="input-group inputs-underline min-width-150px">
                                    <select class="form-control selectpicker" name="sort">
                                        <option value="">Sort by</option>
                                        <option value="1">Price</option>
                                        <option value="2">Distance</option>
                                        <option value="3">Title</option>
                                    </select>
                                </div>
                            </div>
                            <!--end right-->
                        </div>
                        <!--end search-results-controls-->
                    </section>

                    <%= render "index3"%>
                </div>
                <!--end col-md-9-->


            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>
