<div id="page-content">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">New Space</li>
    </ol>
    <!--end breadcrumb-->
    <section class="page-title center">
      <h1>Submit A Space</h1>

      <!-- <div class="form search-form horizontal no-background">
        <div class="container">
          <form>
            <div class="row text-center">
              <div class="col-md-3 col-md-offset-4">
                <div class="form-group">
                  <input type="text" placeholder="Type Food or City"></input>
                </div>
              </div>
              <div class="col-md-1 col-sm-4">
                <div class="form-group">
                  <div id="success"></div>
                  <button class="btn btn-primary pull-right">Search</button?
                </div>
              </div>
            </div>
          </form> -->

    </section>

<%= render 'form' %>
