<div id="page-content">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">New Space</li>
    </ol>
    <!--end breadcrumb-->
    <section class="page-title center">
      <h1>Submit A Space</h1>
    </section>

<%= render 'form' %>
