    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">How it Works</li>
            </ol>
            <section class="center page-title">
                <h1>How It Works</h1>
                <h3 class="subtitle">Collaborate on Remote Space in 3 easy steps</h3>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-8 cols-m-8 col-md-offset-2">
                        <div class="step">
                            <div class="circle">
                                <figure>1</figure>
                                <i class="icon_id"></i>
                                <div class="circle-bg opacity-30"></div>
                            </div>
                            <div class="box">
                                <h2>Register an Account</h2>
                                <p>Log in or Sign up to create your Remote Space account and have access to remote spaces around you
                                  or share some of your own.
                                </p>
                                <a href="/users/sign_up" class="btn btn-default btn-rounded shadow btn-xs">Sign Up</a>
                            </div>
                        </div>
                        <!--end step-->
                        <div class="step">
                            <div class="circle">
                                <figure>2</figure>
                                <i class="icon_adjust-vert "></i>
                                <div class="circle-bg opacity-60"></div>
                            </div>
                            <div class="box">
                                <h2>Collaborate</h2>
                                <p>Once you have an account you are able to browse through spaces that people all over the world have found
                                  to be remote-work friendly
                                </p>
                                <a href="/spaces" class="btn btn-default btn-rounded shadow btn-xs">Spaces</a>
                            </div>
                        </div>
                        <!--end step-->
                        <div class="step">
                            <div class="circle">
                                <figure>3</figure>
                                <i class="icon_box-checked"></i>
                                <div class="circle-bg opacity-90"></div>
                            </div>
                            <div class="box">
                                <h2>Contribute</h2>
                                <p>Don't forget to share your experiences.  Leave a review or find your own space and add it to the community.
                                </p>
                                <a href="/spaces/new" class="btn btn-default btn-rounded shadow btn-xs">Add Space</a>
                            </div>
                        </div>
                        <!--end step-->
                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
            </section>
            <hr>
            <section>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="section-title">
                            <h2>What Is Included</h2>
                            <h3 class="subtitle">Check what you’ll get after registration</h3>
                        </div>
                        <ul class="list-unstyled bullets">
                            <li>Access to all Remote Spaces</li>
                            <li>An opportunity to find the best places to work outside the office</li>
                            <li>To be apart of a growing movement within the work force</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="section-title">
                            <h2>Our Satisfied Members</h2>
                            <h3 class="subtitle">Fulfilling your work needs is our mission.</h3>
                        </div>
                        <div class="testimonials">
                            <div class="owl-carousel" data-owl-items="1" data-owl-nav="0" data-owl-dots="1">
                                <blockquote>
                                    <div class="image">
                                        <div class="bg-transfer">
                                            <img src="assets/img/person-01.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3>Camilla Castro</h3>
                                    <h4>Director of Business Development - HubHaus</h4>
                                    <p>I work remote more than I do in the office, and Remote Space has been great in helping me find ideal work environments around me.</p>
                                </blockquote>
                                <blockquote>
                                    <div class="image">
                                        <div class="bg-transfer">
                                            <img src="assets/img/person-04.jpg" alt="">
                                        </div>
                                    </div>
                                    <h3>Clive Wu</h3>
                                    <h4>CTO - HealthCrowd</h4>
                                    <p>There is so much more that goes into finding an ideal work environment than you'd find on yelp. Remote Space gives information specific to finding good work environments.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
