  <div id="page-content">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Not Approved</li>
      </ol>
      <!--end breadcrumb-->
      <section class="page-title center error">
        <h1>Hi</h1>
        <h2>We are sorry</h2>
        <p>Your Space is still waiting to be approved, this process usually takes no longer than 24 hours.</p>
      </section>
      <!--end page-title-->
      <div class="row">
        <div class="container text-center">
          <%= link_to "Go Home", spaces_path, class: "btn btn-primary btn-rounded"%>
        </div>
      </div>
    </div>
    <!--end container-->
  </div>
  <!--end page-content-->
