<%= form_for([@space, @space.pictures.build]) do |f| %>

<div class="single-file-input">
    <%= f.file_field :image %>
    <div>Upload a picture<i class="fa fa-upload"></i></div>
</div>

<div class="field">
  <%= f.submit "Submit", class: "btn btn-primary btn-rounded btn-xs" %>
</div>
<% end %>
