<div id="page-content">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pages</a></li>
      <li class="active">Contact</li>
    </ol>
    <div class="row">
      <div class="col-md-9 col-sm-9">
        <section class="page-title">
          <h1>Remote Stories</h1>
        </section>
        <!--end section-title-->
        <section>
          <article class="blog-post">
            <a href="blog-detail.html"><img src="assets/img/items/20.jpg" alt=""></a>
            <header><a href="blog-detail.html"><h2>Vivamus porta orci eu turpis vulputate ornare fusce hendrerit arcu risu</h2></a></header>
            <figure class="meta">
              <a href="#" class="link icon"><i class="fa fa-user"></i>Admin</a>
              <a href="#" class="link icon"><i class="fa fa-calendar"></i>06/04/2014</a>
              <div class="tags">
                <a href="#" class="tag article">Architecture</a>
                <a href="#" class="tag article">Design</a>
                <a href="#" class="tag article">Trend</a>
              </div>
            </figure>
            <p>Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi. In dapibus urna sit amet accumsan
              tristique. Donec odio ligula, luctus venenatis varius id, tincidunt ac ipsum. Cras commodo,
              velit nec aliquam dictum, tortor velit dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum
              sagittis sapien vitae tristique mollis. Aliquam hendrerit nulla semper, viverra mi et,
              hendrerit mauris. Maecenas hendrerit congue ultrices. In laoreet erat blandit eros aliquet,
              in malesuada sem rutrum. In placerat porta egestas.
            </p>
            <a href="blog-detail.html" class="btn btn-rounded btn-default btn-framed btn-small">Read More</a>
          </article><!-- /.blog-post -->
          <article class="blog-post">
            <header><a href="blog-detail.html"><h2>Nulla sapien leo, placerat sed lacinia nec, rutrum quis</h2></a></header>
            <figure class="meta">
              <a href="#" class="link icon"><i class="fa fa-user"></i>Admin</a>
              <a href="#" class="link icon"><i class="fa fa-calendar"></i>06/04/2014</a>
              <div class="tags">
                <a href="#" class="tag article">Interior</a>
                <a href="#" class="tag article">New Living</a>
              </div>
            </figure>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec rutrum imperdiet ligula in bibendum. Aenean vulputate rutrum lobortis. Nullam non
              mi ac dui egestas venenatis. Etiam venenatis fermentum accumsan. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Donec at lacus sapien.
            </p>
            <a href="blog-detail.html" class="btn btn-rounded btn-default btn-framed btn-small">Read More</a>
          </article><!-- /.blog-post -->
          <article class="blog-post">
            <header><a href="blog-detail.html"><h2>SoundCloud Audio Post</h2></a></header>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/71654970&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            <figure class="meta">
              <a href="#" class="link icon"><i class="fa fa-user"></i>Admin</a>
              <a href="#" class="link icon"><i class="fa fa-calendar"></i>06/04/2014</a>
              <div class="tags">
                <a href="#" class="tag article">Audio</a>
                <a href="#" class="tag article">SoundCloud</a>
              </div>
            </figure>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec rutrum imperdiet ligula in bibendum. Aenean vulputate rutrum lobortis. Nullam non
              mi ac dui egestas venenatis. Etiam venenatis fermentum accumsan. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Donec at lacus sapien.
            </p>
            <a href="blog-detail.html" class="link-arrow">Read More</a>
          </article><!-- /.blog-post -->
          <article class="blog-post">
            <header><a href="blog-detail.html"><h2>Cras commodo, velit nec aliquam dictum, tortor velit
              dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum sagittis sapien vitae tristique mollis.</h2></a></header>
              <figure class="meta">
                <a href="#" class="link icon"><i class="fa fa-user"></i>Admin</a>
                <a href="#" class="link icon"><i class="fa fa-calendar"></i>06/04/2014</a>
                <div class="tags">
                  <a href="#" class="tag article">Interior</a>
                  <a href="#" class="tag article">New Living</a>
                </div>
              </figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet commodo mauris,
                sit amet commodo turpis. Duis consequat placerat lacus, in sagittis metus pretium vel.
                In luctus justo venenatis, accumsan justo sit amet, volutpat dolor. Pellentesque quis nulla
                nec nisi tempor scelerisque. Nam nec scelerisque sapien. Donec eleifend purus id neque pretium,
                at sollicitudin erat vestibulum. Donec ac tempus tellus, ac dignissim sapien. Fusce et
                elementum arcu. Maecenas sit amet tincidunt lorem.
              </p>
              <p>Vivamus porta orci eu turpis vulputate ornare. Fusce hendrerit arcu risus, sed commodo
                lacus viverra in. Donec eget ligula in risus rutrum pretium id a elit. Nullam ut tristique
                arcu. Nam quis nunc ac eros accumsan tincidunt vel sit amet lorem. Sed euismod, turpis
                et facilisis vestibulum, leo lectus consectetur velit, sed lobortis ante dolor nec leo.
                Praesent congue tellus eu dui consectetur commodo. Sed quam ante, elementum sodales felis
                quis, rutrum tincidunt dolor. Etiam nec metus iaculis arcu cursus pulvinar. Nunc interdum
                eros a neque elementum lobortis. Nulla mattis quis risus vel molestie. Mauris id urna ac
                metus blandit lobortis in et odio.
              </p>
              <a href="blog-detail.html" class="btn btn-rounded btn-default btn-framed btn-small">Read More</a>
            </article><!-- /.blog-post -->
          </section>

          <section>
            <div class="center">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="disabled previous">
                    <a href="#" aria-label="Previous">
                      <i class="arrow_left"></i>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li class="active"><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li class="next">
                    <a href="#" aria-label="Next">
                      <i class="arrow_right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </section>
        </div>
        <!--end col-md-9-->

        <div class="col-md-3 col-sm-3">
          <aside class="sidebar">
            <section>
              <h2>Search Filter</h2>
              <form class="form inputs-underline">
                <div class="form-group">
                  <input type="text" class="form-control" name="keyword" placeholder="Enter keyword">
                </div>
                <!--end form-group-->
                <div class="form-group">
                  <select class="form-control selectpicker" name="location">
                    <option value="">Location</option>
                    <option value="1">New York</option>
                    <option value="2">Washington</option>
                    <option value="3">London</option>
                    <option value="4">Paris</option>
                  </select>
                </div>
                <!--end form-group-->
                <div class="form-group">
                  <select class="form-control selectpicker" name="category">
                    <option value="">Category</option>
                    <option value="1">Restaurant</option>
                    <option value="2">Event</option>
                    <option value="3">Adrenaline</option>
                    <option value="4">Sport</option>
                    <option value="5">Wellness</option>
                  </select>
                </div>
                <!--end form-group-->
                <div class="form-group">
                  <div class="ui-slider" id="price-slider" data-value-min="10" data-value-max="400" data-value-type="price" data-currency="$" data-currency-placement="before">
                    <div class="values clearfix">
                      <input class="value-min" name="value-min[]" readonly>
                      <input class="value-max" name="value-max[]" readonly>
                    </div>
                    <div class="element"></div>
                  </div>
                  <!--end price-slider-->
                </div>
                <!--end form-group-->
                <div class="form-group">
                  <button type="submit" class="btn btn-primary pull-right">Search Now<i class="fa fa-search"></i></button>
                </div>
                <!--end form-group-->
              </form>
            </section>
            <section>
              <h2>Recent Items</h2>
              <div class="item" data-id="1">
                <a href="detail.html">
                  <div class="description">
                    <figure>Average Price: $8 - $30</figure>
                    <div class="label label-default">Restaurant</div>
                    <h3>Marky’s Restaurant</h3>
                    <h4>63 Birch Street</h4>
                  </div>
                  <!--end description-->
                  <div class="image bg-transfer">
                    <img src="assets/img/items/1.jpg" alt="">
                  </div>
                  <!--end image-->
                </a>
                <div class="controls-more">
                  <ul>
                    <li><a href="#">Add to favorites</a></li>
                    <li><a href="#">Add to watchlist</a></li>
                    <li><a href="#" class="quick-detail">Quick detail</a></li>
                  </ul>
                </div>
              </div>
              <!--end item-->
              <div class="item" data-id="2">
                <a href="detail.html">
                  <div class="description">
                    <div class="label label-default">Restaurant</div>
                    <h3>Ironapple</h3>
                    <h4>4209 Glenview Drive</h4>
                  </div>
                  <!--end description-->
                  <div class="image bg-transfer">
                    <img src="assets/img/items/2.jpg" alt="">
                  </div>
                  <!--end image-->
                </a>
                <div class="controls-more">
                  <ul>
                    <li><a href="#">Add to favorites</a></li>
                    <li><a href="#">Add to watchlist</a></li>
                    <li><a href="#" class="quick-detail">Quick detail</a></li>
                  </ul>
                </div>
                <!--end controls-more-->
              </div>
              <!--end item-->
              <div class="item" data-id="15">
                <figure class="ribbon">Top</figure>
                <a href="detail.html">
                  <div class="description">
                    <figure>Happy hour: 18:00 - 19:00</figure>
                    <div class="label label-default">Bar & Grill</div>
                    <h3>Bambi Planet Houseboat Bar& Grill </h3>
                    <h4>3857 Losh Lane</h4>
                  </div>
                  <!--end description-->
                  <div class="image bg-transfer">
                    <img src="assets/img/items/3.jpg" alt="">
                  </div>
                  <!--end image-->
                </a>
                <div class="controls-more">
                  <ul>
                    <li><a href="#">Add to favorites</a></li>
                    <li><a href="#">Add to watchlist</a></li>
                    <li><a href="#" class="quick-detail">Quick detail</a></li>
                  </ul>
                </div>
                <!--end controls-more-->
              </div>
              <!--end item-->
            </section>
          </aside>
          <!--end sidebar-->
        </div>
        <!--end col-md-4-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>
  <!--end page-content-->
