<section id="write-a-review">
  <h2>Write a Review</h2>
  <!-- <form class="clearfix form inputs-underline"> -->
    <div class="box">
      <div class="comment">
        <div class="row">
          <div class="col-md-8">
            <div class="comment-title">
              <h4>Review your experience</h4>
            </div>
            <!--end title-->
            <%= form_for([@space, @space.reviews.build]) do |f| %>

              <div class="form-group">
                <%= f.label :comment %><br>
                <%= f.text_area :comment, class: "form-control", id: "message" %>
              </div>
              <div class="form-group">
                <div id="star-rating"></div>
              </div>
              <div class="form-group pull-right">
                <%= f.submit %>
              </div>
               <% end %>
          </div>

          <div class="col-md-4">

          </div>

        </div>
        <!--end row-->
      </div>
      <!--end comment-->
    </div>
    <!--end review-->
  <!-- </form> -->
  <!--end form-->
</section>
</div>

<script>
$('#star-rating').raty({
  path: '/assets/',
  scoreName: 'review[rating]'
});
</script>
